* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #162B3B;
  --secondary-color: #F0F0F0;
  --tertiary-color: #2079CA;
}


body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
}

.header_logo {
  width: 200px; 
}

.header_title {
  font-size: 4rem;
  color: var(--primary-color);
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.main_dropzone{
  height: 300px;
  width: 100%;
  border: 2px dashed #0087F7;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color);
  z-index: 10;
}

.main_dropzone p {
  font-size: 1.5rem;
  color: var(--primary-color);
}

.pdf_files_container {
  margin-top: 10px;
  text-overflow: ellipsis;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.pdf_file {
  margin: 10px;
  padding: 10px;
  border: 1px solid var(--tertiary-color);
  background-color: var(--tertiary-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 45%;
  height: 100px;
  color: var(--secondary-color);
  align-items: center;
  justify-content: center;
}

p {
  font-size: 1.2rem;
  color: var(--primary-color);
}

.pdf_files_main {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-radius: 20px;
  border: 2px solid var(--tertiary-color);
}

.file_size_text {
  color: var(--primary-color);
  opacity: 0.7;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--primary-color);
}

.dropzone_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--secondary-color);
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 0 250px rgba(112, 112, 112, 0.658);
  min-height: 50vh;
}

.process_button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.ball-pulse-sync > div {
  background-color: var(--primary-color);
}

.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}


.download-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.download-icon {
  width: 60px;
  animation: shake 2s linear infinite;
}

.card-container {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}


@keyframes shake {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(2deg); }
  20% { transform: rotate(-2deg); }
  30% { transform: rotate(2deg); }
  40% { transform: rotate(-2deg); }
  50% { transform: rotate(2deg); }
  60% { transform: rotate(-2deg); }
  70% { transform: rotate(2deg); }
  80% { transform: rotate(-2deg); }
  90% { transform: rotate(2deg); }
  100% { transform: rotate(0deg); }
}
